.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -1px 0px 10px 3px rgba(124, 124, 124, 0.82);
    width: 26vw;
    height: 43vh;
}

h1 {
    margin-top: 18vh;
    color: var(--color-primary);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 40px;
    width: calc(26vw - 6vw);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    margin-top: 15%;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#inputs input {
    color: var(--color-primary);
    margin-top: 15%;
    height: 40px;
    padding: 15px;
    width: calc(26vw - 6vw);
    border-radius: 10px;
    border: 2px solid silver;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #fff;
    border-radius: 10px;
    width: 85px;
    padding: 10px;
    color: black;
    margin-top: 20px;
}

input:focus {
    outline: none;
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}