:root {
    --color-primary: #2465f7;
    --color-secondary: #1e66f72a;
    --color-background: #f8f8f8;
    --color-warning: #e9c601;
    --color-error: #f75e4b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}


input:focus {
    outline: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}